/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
}

/* navigation bar */

nav {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 5vh;
}

nav li {
    display: inline-block;
    margin-right: 35px;
}

nav li a, nav li a:visited {
    text-decoration: none;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    color: #000000;
}

nav li span {
    display: inline-block;
    background-color: #ffffff;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    box-shadow: 5px 5px #00000050;
}

nav li span:hover{
    box-shadow: 8px 8px 0 10px #00000050;
    transition: box-shadow 0.4s, transform 0.4s;
    transform: scale(1.4);
}

/* main */

.full-port {
    height: 100vh;
    position: relative;
    z-index: -1;
}

#item-1 {
    background-color: #ff0000;
    color: #ffff00;
}

#item-2 {
    background-color: #008000;
    color: #ffff00;
}

#item-3 {
    background-color: #ffff00;
    color: #008000;
}

.item-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    height: 70%;
    text-align: center;
}

.item-box img {
    height: 80%;
}

.item-box .text-box {
    font-size: 1.5em;
}